html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f7f7f9;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

#toolbar {
  display: flex;
  height: 48px;
  justify-content: space-between;
  width: 90%;
}

#logo {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  padding: 10px;
  text-decoration: none;
}

#menu-bars-container {
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hamberger {
  display: none;
}

.menu-bars {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 259px;
  height: 40px;
  text-decoration: none;
}

.menu-bar {
  width: 87px;
  height: 40px;
  background-color: #6070ff;
  margin: 6px 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 500;
  font-size: 15px;
  color: #344563;
}

.mebu-bar a {
  text-decoration: none;
}

#headline-container {
  width: 100%;
  height: 768px;
  left: 0;
  top: 71px;
  background-image: url("./images/Header\ bg@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 0 90px;
  margin-bottom: 142px;
}

#headline {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  position: absolute;
  width: 920px;
  height: 268px;
  left: 260px;
  top: calc(50% - 268px / 2);
}

.header {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #091e42;
  animation: 2s 1 alternate slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.text {
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  width: 64%;
  min-width: 355px;
  overflow: auto;
  color: #344563;
  animation: 2s 1 alternate slidein;
}

#connect {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
  animation: 2s 1 alternate slidein;
}

/* transition effect */
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#social-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  animation: 2s 1 alternate slidein;
}

.icon,
.icon > a {
  color: #505f79;
  margin-right: 12px;
  font-size: 24px;
}

#works-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.achomplishment-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border: 1px solid #dfe1e6;
  width: 90%;
  height: 496px;
  margin-bottom: 142px;
  border-radius: 24px;
  padding: 24px 0 24px 0;
}

.mobile-view {
  display: none;
}

.desktop-view {
  margin: 24px;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 24px;
}

.content-container > h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 24px 24px 12px 24px;
  color: #172b4d;
}

.content-container > .skill {
  list-style-type: none;
  padding: 0;
  margin: 0 24px 0 24px;
  margin-right: 24px;
  display: flex;
  justify-content: flex-start;
  width: 350px;
}

.content-container > .skill > li {
  font-weight: 600;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #7a869a;
  padding-right: 12px;
}

.skill > li:first-child {
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: #344563;
}

.content-container > p {
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  max-width: 400px;
  margin: 24px;
}

.content-container > .technologies {
  list-style-type: none;
  padding: 3px 0;
  margin: 0 24px 56px 24px;
  display: flex;
}

.content-container > .technologies > li {
  padding: 4px 12px;
  margin-right: 8px;
  background: #ebebff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

#button-container {
  padding: 12px 0;
  width: 100%;
}

.btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 12px;
  box-sizing: border-box;
  color: #396df2;
  border: 1px solid #6070ff;
  background: #fff;
  border-radius: 8px;
  width: max-content;
  margin-left: 24px;
  cursor: pointer;
}

.btn > a {
  color: inherit;
  text-decoration: none;
}

.btn:hover {
  background: #6070ff;
  color: #fff;
  transform: scale(1.2);
}

.btn:active {
  background: #424daa;
  color: #fff;
  transform: scale(1.2);
  transform: rotate(-5deg);
}

#about-container {
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  background: #fff;
  border-radius: 0 90px 0 0;
  box-sizing: border-box;
  width: 100%;
}

#about {
  margin-left: 142px;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0 0 100px 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 32%;
}

.catagories-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-top: 40px;
  margin-left: 30px;
  width: 50%;
}

#categories {
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  width: 400px;
}

#categories-item {
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  color: #253858;
  padding: 24px 12px;
  box-sizing: border-box;
  width: 100%;
  min-height: 72px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}

#categories-item > .fa-solid {
  color: #727e93;
}

.bottom-border {
  border-bottom: 1px solid #e3e5e9;
}

#item-details {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  height: 144px;
  width: 320px;
}

.detail {
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 12px;
  box-sizing: border-box;
  height: 115px;
  color: #253858;
  width: 100px;
}

.detail > img {
  mix-blend-mode: multiply;
  object-fit: contain;
}

footer {
  width: 100%;
  height: 779px;
  background-image: url(./images/desktop-background-footer.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 142px;
}

#footer-header {
  margin-top: 105px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

#footer-paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 10px 24px;
  color: #ebebff;
  width: 400px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

footer .form-container {
  width: 327px;
}

form input {
  width: 310px;
  height: 48px;
  padding-left: 15px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

form textarea {
  width: 310px;
  height: 120px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-top: 18px;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.button {
  width: 140px;
  margin-top: 22px;
}

button {
  height: 48px;
  width: 140px;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  border-radius: 8px;
  border: none;
}
