.header{
height: 916px;
width: 1440px;
left: 0px;
top: 1px;
border-radius: [object Object]px;
background: #FFFFFF;
}

.Top-Nav{
    height: 72px;
width: 1440px;
left: 0px;
top: 0px;
border-radius: 0px;

}