.all {
  height: 916px;
  top: 1px;
  border-radius: 1px; 
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.main {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/Header bg@2x.png");
  width: 80%;
  background-repeat: no-repeat;

}

h1 {
  width: 400px;
  font-weight: 700;
}

p {
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

ul {
  width: 400px;
  display: flex;
  justify-content: first baseline;
}

li {
  list-style: none;
}

svg {
  padding: 10px;
}
